#wrapper {
  max-width: 960px;
  margin: auto;
}
header {
  padding: 20px;
}
nav a {
  text-decoration: none;
}

a {
  text-decoration: none;
}

a:hover {
    text-decoration: underline;
   }

nav a:hover {
    text-decoration: underline;
   }

nav ul {
     background: linear-gradient(to top, #c20047, #ed06a2);
  margin: 0;
  padding: 0;
}

nav li {
  list-style-position: inside;
  font: 20px 'Verdana', sans-serif;
  padding: 10px;
}

.top-menu li {
  display: inline-block;
  padding: 10px 30px;
  margin: 0;

}

h1{
  font-family: 'Verdana', sans-serif;
  font-size: 28px;
  font-weight:900;
  padding: 14px;
}
h2{
    font-family: 'Verdana', sans-serif;
  font-size: 18px;
  font-weight:normal;
  padding: 14px;
}
h4{
    font-family: "Verdana", sans-serif;  
  color:#808080;
  font-weight:small;
}
h3{
  font-family: "Verdana", sans-serif;
   font-weight:normal;
      font-size: 18px; /* Размер шрифта в пунктах */ 
  color:#ed06a2;
}

.top-menu li.active {
  background: #29c5e6;
  color: #ffffff;
}

.top-menu a {
  color: #FFFFFF;
}
section {
  margin-left: 280px;
  padding-bottom: 50px;
  margin-right:0px;
  background-color:#ffffff;
}

.aside-menu li {
  font-weight: 300;
  list-style-type: none;
  border-top: 1px solid #e7e7e7;
}

.aside-menu li:first-child {
  border: none;
}

.aside-menu li.active {
  color: #29c5e6;
}

.aside-menu a {
  color: #ffffff;
}
aside {
  float: left;
  width: 250px;
}

.back_to_top {
  position: fixed;
  bottom: 80px;
  right: 40px;
  z-index: 9999;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  background: #f5f5f5;
  color: #444;
  cursor: pointer;
  border-radius: 2px;
  display: none;
}

.back_to_top:hover {
  background: #e9ebec;
}

.back_to_top-show {
  display: block;
}